<script language="javascript">
var max_time = 3;
var cinterval;

function ajax_score(t,direct){
        var selection=jQuery(t).parent()
        var id=jQuery(selection).attr('data-id');
    jQuery.ajax({method:'get',url:'{{=URL('SetScore')}}',
                 data:{'id':id,'direct':direct},
                success: function (data){
        var decode=jQuery.parseJSON(data);
        if(decode[0].racha==0){decode[0].racha=1;}
        var x=jQuery(selection).next().next().html('Score:'+decode[1].score);
        jQuery(selection).next().html('X'+decode[0].racha).animate({ fontSize : '22px' });
        jQuery(selection).next().next().animate({ fontSize : '30px' });
        jQuery(selection).parent().css("color","white");
        jQuery(selection).parent().fadeOut(4000);
    }});
}
    jQuery(function(){
        jQuery('.plus').click(function(){ajax_score(this); jQuery(this).parent().parent().css("background-color","Green");});
        jQuery('.down').click(function(){ajax_score(this,'down');jQuery(this).parent().parent().css("background-color","Red");})
        jQuery('#siguiente').click(function(){$('#response_modal').load('{{=URL('JuegoPregunta',args=session.Tema[0].id)}}');})
                                     });
function countdown_timer(){
  // decrease timer
  max_time--;
  document.getElementById('countdown').innerHTML = max_time;
  if(max_time == 0){
    clearInterval(cinterval);
      $('#countdown').hide();
      $('#respuesta').show();
      $('#participantes').show();
  }
};
    function respuesta(){
        $('#respuesta').hide();
        $('#resultado').show();
    }
// 1,000 means 1 second.
cinterval = setInterval('countdown_timer()', 1000);
</script>

<div class="modal-header">
	<a class="close" data-dismiss="modal">&times;</a>
	<h3>Pregunta</h3>
</div>


<div class="modal-body">
	<h2>{{=Pregunta.pregunta}}</2>
    <h1 id="countdown" style="text-align: center">3</h1>
    <div id="respuesta" style="display:none"><button onclick="respuesta()" class="btn btn-info">Ver Respuesta</button></div>
    <div id="resultado" style="display:none"><h4>Respuesta: {{=Pregunta.respuesta}}</h4></div>
    
    <div id="participantes" style="display:none">
        {{for participante in session.Equipos:}}
        <div id="participante" class="well">
                <h4 class="span1">{{=participante.Nombre}}</h4>
            <div id="controles" data-id="{{=participante.id}}"><button  class="span1 plus"><i class="icon-ok"></i></button><button class="span1 down"><i class="icon-remove"></i></button></div>
            <div class="span1" id="racha">
               X {{=participante.racha}}</div><div classs="span1 score" id="score" data-id="{{=participante.id}}">Score:{{=participante.score}}</div>
</div>
        {{pass}}
</div>
<div class="modal-footer">
	<a class="btn" data-dismiss="modal">Cerrar</a>
    {{if session.index < len(session.preguntas)-1:}}
        {{session.index=session.index+1}}
        <a class="btn" id="siguiente">Siguiente</a>
    {{else:}}
    <a class="btn" data-dismiss="modal">Finalizar</a>
    {{pass}}
</div>
